@import "./fonts/opensans";

@import "./bootstrap/config";
@import "./bootstrap/misc";

@import "~bootstrap/scss/bootstrap";
@import "~bootstrap/scss/mixins/breakpoints";

@each $name, $width in $grid-breakpoints {
    .h-#{$name}-100 {
        @media (min-width: #{$width}) {
            height: 100%;
        }
    }
}
